.package{
    background-color: #fff;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.package-img{
    overflow: hidden;
}

.package-img img{
    height: 250px;
    width: 320px;
    transition: transform 500ms;
}

.package-img img:hover{
    transform: scale(1.3);
}

.package-text{
    padding: 20px 15px;
}

.package-text:hover{
    background-color: rgba(255, 99, 71, 0.829);
    color: white
}
.package-text:hover h2{
    color: white;
}
.package-text:hover .btn-package{
    background-color: white;
    color: tomato;
}

.package-text h2{
    color: tomato;
    margin: 15px 0;
}

.package-text h3{
    font-size: 24px;
}

.package-text p{
    font-weight: 500;
}

.btn-package{
    background-color: tomato;
    color: white;
}

/* ------MOBILE------- */
@media (max-width: 500px){
    .package{
        width: 80%;
        margin: 15px auto;
    }
    .package-img img{
        height: 200px;
        width: 100%;
    }
    .package-text{
        padding: 10px 20px;
    }    
    .package-text h2{
        margin: 10px 0;
    }
    .package-text h3{
        font-size: 18px;
    }
    .package-text p{
        margin: 10px 0;
    }
    .btn-package{
        width: 100%;
    }
}