.booking{
    background-color: rgb(241, 214, 181);
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.booking:hover{
    transform: scale(1.03);
}

.booking .flex{
    justify-content: space-between;
}

.booking .flex .flex2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.booking .flex h2{
    margin-right: 30px;
}

.booking h1 span{
    color:mediumblue;
}

.booking button{
    color: red;
    font-size: 30px;
}

.booking .flex h2 button{
    font-size: 16px;
    padding: 8px 14px;
    background-color: tomato;
    color: white;    
}

/* Mobile */
@media(max-width: 500px){
    .booking h1{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .booking h2{
        font-size: 20px;
    }
    .booking h3{
        font-size: 16px;
    }
    .booking button{
        font-size: 20px;
    }
}