.review{
    margin: 40px 0;
}

.review .container{
    max-width: 1200px;
}

.review .title{
    color: #262339;
    margin-top: 0;
    margin-bottom: 30px;
}
.review h2{
    color: tomato;
    text-align: center;
}

.review .flex{
    letter-spacing: 1px;
    justify-content: space-between;
    text-align: center;
}

.review .flex .card{
    height: 400px;
    width: 300px;
    margin: 0 10px;
    border-radius: 30px;
    padding: 10px 6px;
    border: 1px solid black;
    box-shadow: 1px 10px 10px rgba(0,0,0,0.3);
}

.review .flex .card:hover{
    background-color: tomato;
    color: white;    
}

.review .flex .card:nth-child(odd){
    height: 450px;
    width: 350px;
}

.review .card p{
    margin: 15px 6px;
    font-size: 18px;
    font-weight: 600;
}

.review .card-img{
    margin-top: 30px;
}

.review .card-img img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #ccc;
}

.review .flex h2{
    color: #262339;
}
.review .flex h3{
    margin: 4px 0;
    color: #bbb;
}