.navbar{
    height: 80px;
    color: white;
    height: 80px;
    background-color: #222 ;
}

.navbar .logo{
    color: yellow;
    margin-bottom: 8px;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar .user-name{
    color: yellow;
}

.navbar a, .navbar li{
    color: white;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 24px;
}

.navbar a:hover{
    color: yellow;
}

.navbar button{
    cursor: pointer;
    text-align: center;
    border: none;
    height: 90%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    background-color: tomato;
    color: white;
}