.navbar{
    height: 80px;
    color: white;
    height: 80px;
    background-color: rgba(103, 118, 202, 0.719) ;
}

.navbar .logo{
    color: yellow;
    margin-bottom: 8px;
}

.navbar .flex{
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a{
    font-weight: bolder;
    color: white;
    padding: 0 10px;
    margin: 0 5px;
    font-size: 24px;
}

.navbar a:hover{
    color: yellow;
}